body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f3f3f3;
}

ul {
    list-style: none;
    padding-left: 0;
}

#root {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: stretch;
}

#footer {
    color: #bfbfbf;
    text-align: center;
    margin-bottom: 8px;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

#login-cern-sso {
    font-size: 24px;
    text-decoration: none;
    width: 300px;
}

#logout {
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 4px 16px;
    margin-bottom: 32px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    width: 334px;
}

#workspaces {
    flex: 1;
    min-width: 400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 8px;
}

#workspacesList {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 4px;
}

.workspaceItem {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 4px;
    margin: 8px 4px;
    border: 1px solid lightgray;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    background-color: white;
}

#addWorkspace {
    width: 360px;
    display: flex;
    flex-flow: column;
    padding: 8px;
    background-color: white;
    margin: 8px;
    border-radius: 4px;
}

#addWorkspace > input {
    flex: 1;
    font-size: 20px;
    border: 1px solid #58a3ef;
    border-radius: 4px;
}

#addWorkspace > button {
    font-size: 16px;
}

#files {
    flex: 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#filesList {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 16px;
}

#filesListContent {
    display: flex;
    flex-flow: column;
}

.fileItem {
    display: flex;
    flex-flow: column;
    min-width: 500px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 8px;
    padding: 8px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
    background-color: white;
}

.section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 4px 8px;
}

.itemActions {
    margin: 16px 4px 8px;
    display: flex;
    flex-flow: column;
}

.actionGroup {
    display: flex;
    flex-flow: row;
    justify-content: end;
}
.actionGroup > input {
    flex: 1;
    margin: 4px 0;
    border: 1px solid #58a3ef;
    border-radius: 4px 0 0 4px;
}

.actionGroup > .actionButton {
    border-radius: 0 4px 4px 0;
}

.actionButton {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 4px 16px;
    margin: 4px 0;
    border-radius: 4px;
    background-color: #58a3ef;
    color: white;
    border: 1px solid #58a3ef;
    -webkit-box-shadow: 2px 0px 4px 1px rgb(0 0 0 / 25%);
    -moz-box-shadow: 2px 0px 4px 1px rgb(0 0 0 / 25%);
    box-shadow: 2px 0px 4px 1px rgb(0 0 0 / 25%);
}

.actionButton:hover {
    background-color: #7bafe4;
    color: white;
}

.expandableSection {
    cursor: pointer;
}

.expandableContentHidden {
    display: none;
}

.expandableSection > .section > .subSection {
    background-color: #58a3ef;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 13px;
}
.expandableSection > .section > .subSection:hover {
    background-color: #7bafe4;
}

.expandableSection > .section > .subSection::before {
content: "hide";
}

.expandableSectionHidden > .section > .subSection::before {
    content: "show";
}

.container {
    background-color: white;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-flow: column;
    align-self: stretch;
    align-items: center;
    -webkit-box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 25%);
    -moz-box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 25%);
    box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 25%);
}

.uploadItem {
    display: flex;
    flex-flow: column;
    margin: 8px;
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.uploadItemSection {
    margin: 4px;
}

.uploadItemSection > label {
    margin-right: 8px;
}
.uploadItemSection > input {
    min-width: 350px;
    border-radius: 4px;
    border: 1px solid #58a3ef;
}
